@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


.swal2-popup {
    font-size: 0.85rem !important;
    width: 26em !important;        
    padding: 1.5em !important;     
    border-radius: 12px !important;
}

.swal2-title {
    font-size: 1.5em !important;
}

.swal2-icon {
    transform: scale(0.85);        
    margin: 1em auto 0.5em !important;
}

/* Estilos normales de pantalla: El ticket está escondido */
#ticket-termico {
    display: none;
}

/* REGLAS EXCLUSIVAS PARA CUANDO SE DISPARA LA IMPRESORA */
@media print {
    /* Ocultamos absolutamente todo el diseño del Kiosco (botones, fondos, logos) */
    body * {
        visibility: hidden;
    }
    
    /* Hacemos que únicamente el bloque del ticket sea visible */
    #ticket-termico, #ticket-termico * {
        visibility: visible;
    }
    
    /* Posicionamos el ticket arriba a la izquierda eliminando márgenes de página del navegador */
    #ticket-termico {
        display: block !important;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; /* Se expande al ancho físico configurado en la miniprinter */
        margin: 0;
        padding: 0;
    }

    /* Quitamos los molestos encabezados y pies de página que mete Chrome por defecto (fecha, url) */
    @page {
        margin: 0;
    }
}